.app-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 2px solid #858383;
  border-radius: 8px;
  background-color: #3e3d3d;
}

h1 {
  text-align: center;
  color: white;
}
h3 {
  color: white;
  margin-bottom: 10px;
}
input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus {
  outline: none;
  border-color: #15acec;
  box-shadow: 0 0 5px rgba(21, 172, 236, 0.5);
}
input::placeholder {
  color: #999;
  font-style: italic;
  font-weight: 600;
}
button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}
.add-task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.add-btn {
  background-color: #15acec;
}
.add-btn:hover {
  background-color: #0d8bd1;
}
.done-btn {
  background-color: #15aa38;
}
.delete-btn {
  background-color: #c12020;
}
.done-btn:hover {
  background-color: #0f7d2a;
}
.delete-btn:hover {
  background-color: #a31616;
}
.no-task {
  text-align: center;
  color: #e2d1d1;
  font-style: italic;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.task-list {
  list-style-type: none;
  padding: 0;
}
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}
.task-item-btn {
  display: flex;
  gap: 10px;
}
.task-item:nth-child(odd) {
  background-color: #585757;
}

.all-btn {
  background-color: #3fc9e8;
}
.all-btn:hover {
  background-color: #2bb5d1;
}
.complete-btn {
  background-color: #df9920;
}
.complete-btn:hover {
  background-color: #c57f16;
}
.all-btn:active {
  background-color: #2916b6;
}
.complete-btn:active {
  background-color: #2916b6;  
}
.filter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}